@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

:root {
	--text-color: #f1f1f1;
	--bg-color: #1d1d1d;
	--btn-bg-color: #dab308;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	user-select: none;
}

.none {
	visibility: hidden;
	opacity: 0;
}

.active {
	visibility: visible;
	opacity: 1;
}

body {
	color: var(--text-color);
	background: var(--bg-color);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

button {
	border: none;
}

input {
	outline: none;
}

img {
	width: 120px;
	-webkit-user-drag: none;
}

.container {
	min-height: 650px;
	max-width: 390px;
}

.welcome-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 35px;
}

.subtitle {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 400;
	opacity: 80%;
	font-size: 17px;
}

.welcome {
	margin-top: 15px;
}

.btn {
	cursor: pointer;
	background: var(--btn-bg-color);
	text-align: center;
	border-radius: 10px;
	padding: 5px 15px;
	border: 2px solid var(--btn-bg-color);
	transition: all 0.5s ease;
}

.btn:hover {
	color: #dab308;
	background: none;
	box-shadow: 0 0 15px #dab308;
}

.choose-profession {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px; /* Відстань між картками */
	margin-top: 10px;
	transition: all 0.5s ease;
}

.card {
	background-color: #333;
	padding: 20px 15px;
	border-radius: 10px;
	text-align: center;
	border: 2px solid #333;
	transition: all 0.2s ease;
}

.card.choosed {
	border: 2px solid #dab308;
}

.card:hover {
	border: 2px solid #dab308;
}

.card .card-text {
	color: var(--btn-bg-color);
	font-weight: 500;
}

.card img {
	width: 105px;
}

.card .card-salary {
	font-size: 12px;
	opacity: 85%;
}
